{% import "macro" as macro %}
{% extends 'layout/layout' %}

{% block page %}

    <a href="{{ url('units/add_unit') }}">
        <button class="btn btn-success">
            Add
        </button>
    </a>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unit in pagination.getResult() %}
                        <tr>
                            <td>{{ unit.getId() }}</td>
                            <td>{{ unit.getCreated().format('Y-m-d H:i:d') }}</td>
                            <td>{{ unit.getModified().format('Y-m-d H:i:d') }}</td>
                            <td>{{ unit.getName() }}</td>
                            <td>
                                <a href="{{ url('units/edit_unit', {'id': unit.getId()}) }}">
                                    Edit
                                </a>
                                <a href="{{ url('units/remove_unit', {'id': unit.getId()}) }}">
                                    Remove
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ macro.getPagination(pagination) }}
        </div>
    </div>

{% endblock %}